In [8]:
import pandas as pd 
sqft_living=1
bedrooms=2
bathrooms=3


data = {
    'sqft_living':sqft_living,
    'bedrooms': bedrooms,
    'bathrooms':bathrooms,
    
}


parametres = pd.DataFrame(, ['sqft_living','bedrooms','bathrooms', 'sqft_living', 'sqft_lot', 'floors', 'waterfront', 'view', 'condition', 'grade', 'sqft_above', 'sqft_basement', 'yr_built', 'yr_renovated', 'zipcode', 'lat', 'long', 'year', 'month'])
parametres

               sqft_living  bedrooms  bathrooms
sqft_living              1         2          3
bedrooms                 1         2          3
bathrooms                1         2          3
sqft_living              1         2          3
sqft_lot                 1         2          3
floors                   1         2          3
waterfront               1         2          3
view                     1         2          3
condition                1         2          3
grade                    1         2          3
sqft_above               1         2          3
sqft_basement            1         2          3
yr_built                 1         2          3
yr_renovated             1         2          3
zipcode                  1         2          3
lat                      1         2          3
long                     1         2          3
year                     1         2          3
month                    1         2          3

In [ ]:


parametres = pd.DataFrame(data,[index= 0])